@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'NanumSquareRound', Arial, sans-serif;
  max-width: 2000px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

nav {
  margin: 0 auto;
  max-width: 1200px;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
